<footer class="text-align-center u-clearfix footer-style wd-100">
  <section class="left wd-45 pd-1rem">
    <p class="footer-text-style">
      <span>Created with Angular Framework</span>
    </p>
    <p class="footer-text-style">
      <span>Created by Laura Lucena Buendia</span>
    </p>
  </section>
  <section class="left wd-45 pd-1rem">
  <a class="link-style left" href="" target="_blank">
    <p class="footer-text-style">
      <img src="../../../assets/icons/github.png" class="yellow-filter" style="width: 3.5rem"/>
    </p>
  </a>
  <a class="link-style left" href="" target="_blank">
    <p class="footer-text-style">
      <img src="../../../assets/icons/linkedin.png" class="yellow-filter" style="width: 3.5rem"/>
    </p>
  </a>
  </section>
</footer>
