.footer-style {
  clear: both;
  background-color: #333333;
  color: #fff;
  min-height: 120px;
  width: 100%;
  margin:3rem auto 0rem;
  bottom: 0;
  left: 0;
}

.u-backlink {
  position: relative;
  text-align: center;
  padding: 1em;
}

.footer-text-style{
  padding-left: 0 !important;
  display: table;
  align-self: flex-start;
}

.footer-text-style:empty {
  display: block;
  width: 15px;
}

.link-style{
  color: #fff;
  text-decoration: none;
  border-width: 0 0 0px 0;
}
